# Laravel storage folder
/storage/*

# Laravel vendor folder
/vendor/*

# Laravel mix specific files
/public/css/*
/public/js/*

# Laravel environment file
.env

# Composer lock file
composer.lock

# Laravel log files
*.log

# IDE specific files
.idea
.vscode

# Editor backup files
*~
*.swp
